token                   = "токен"
cloud_id                = "команда для вывода: yc resource-manager cloud list"
folder_id               = "команда для вывода: yc resource-manager folder list"
network_id              = "команда для вывода: yc vpc network list"
subnet_id               = "команда для вывода: yc vpc subnet list"
zone_id                 = "должна совпадать с выбранным subnet_id, например, ru-central1-a"
service_account_id      = "команда для вывода: yc iam service-account list"
node_service_account_id = "команда для вывода: yc iam service-account list"
secret_key_id           = "Яндекс secret_key_id"
secret_key              = "Яндекс secret_key"
s3bucket                = "Имя бакета для хранения tfstate"